.git
.gitignore
.dockerignore
.githooks
.air.toml
.gitlab-ci.yml
.golangci.yaml
.editorconfig
.vscode
.idea
.DS_Store
.history

# Go-specific directories and files
.go
*.mod
*.sum
*.md

# Test and coverage files
*.test
*.coverprofile
*.cover.out
*.prof

storage
tmp

Dockerfile
build.sh
config.yaml
gitconfig
config.example.yaml
deployments
docker-compose.example.yaml
docker-compose.yaml
README.md
LICENSE
Makefile
